// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "slick/slick-theme.css";

// home

  body {
    background-color: black;
  }
  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }
  p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  a{
    text-decoration:none;
  }

.navbar-lewagon {
  justify-content: space-between;
  background: #000;
  position: fixed;
  width: 100%;
  padding-bottom: 20p;
  z-index:1000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


// banner

.banner {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 50%;
  animation: move 20s infinite both;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-bottom: 10px;
}

@keyframes move{
  0% {
    background-size:100% auto;
  }
  50% {
    background-size:140% auto;
  }
  100% {
    background-size:100% auto;
  }
}

.btn-ghost {
  color: #FFF;
  border: 1px solid #FFF;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  transition: 1s;
  opacity: 1;
  background-color: #FFF;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 25px;
}

  .item {
  display: inline-flex;
  margin: 5px;
  padding: 10px;;
  }


  .navbar-brand {
    color: white;
  }


  .third {
  text-decoration:none;
  border-color: #721919;
  color: #fff;
  box-shadow: 0 0 40px 40px black inset, 0 0 0 0 #721919;
  transition: all 150ms ease-in-out;
  width: 170px;
  height: 50px;
  text-align: center;


  &:hover {
    box-shadow: 0 0 10px 0 #721919 inset, 0 0 10px 4px #721919;
  }
}

  .no-underline {
    text-decoration:none !important;
    color: white;
    text-align: center;
    margin: 0 auto;

    &:hover{
      color: #fff;
    }
  }
